#################
## Eclipse
#################

*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
war/WEB-INF/classes/*
war/WEB-INF/appengine-generated/*
war/WEB-INF/deploy/*
war/WEB-INF/lib/*
war/clashroom/*
.gwt/.gwt-log
*.class
local_db.bin

# GWT
gwt-unitCache/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

