#login {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #000;
	background:#fff;
}

.w_mouseOver {
	cursor:pointer;
}

.sideQuestWidget {
	font-size:12px;
	width:100%;
}

.studentQuests {
	font-size:12px;
	width:100%;
}

/* --- PROGRESS BAR --- */
.gwt-ProgressBar-shell {
    background-color: #fff;
    height:20px;
    width: 100%;
    margin:0 auto 20px auto;
    box-shadow:0px 1px 1px 1px rgba(0,0,0,0.1);
	border:2px solid #fff;
}
.gwt-ProgressBar-bar {
	background:#a3daec;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-text {
  padding: 0px;
  margin: 0px;
  color: #888;
  text-shadow:0px 0px 2px #fff;
  font-weight:bold;
  line-height:20px;
}

/* --- PROFILE WINDOW --- */
.profile_window .profile_stats {
	position:relative;
	top:0;
	left:0;
	margin:0 auto;
}

.profile_window .profile_lvl {
	top: 225px;
	right:0px;
}

/* --- SETUP PAGE ---*/
.Setup {
	margin:40px auto;
}